

.fixedImageViewer{



  .background{
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 10px;
  }

  .imageFrame{
    display: flex;
    justify-content: center;

    .imageMarkerLayer{
      height: calc(60vh - 20px);
      overflow-y: scroll;
    }

    img{
      width: min(720px, 100vw);
      object-fit: cover;
    }

  }




}