.svg-container {
    margin-top: 79px;
    margin-left: 450px;
    transform: rotate(0deg);
    transition: all 300ms ease-in-out;
}

dialog {
    top: 180px;
    right: 150px;
}

.desk {
    fill: #fff;
    stroke: #1d1d1b;
}

.desk:hover {
    cursor: pointer;
    fill: orange;
    transition: 150ms ease-in-out;
}

@media screen and (max-width:1000px) {
    /* start of phone styles */
    .react-transform-wrapper, .map  {
        height: 1000px;
        margin-top: 200px;
        transform: rotate(-90deg);
        transition: all 300ms ease-in-out;
    }

    .svg-container {
        margin: 304px 0px 702px -27px;
    }

    dialog {
        top: 94px;
        right: -32px;
    }
}
