$primary: #D85D13;
$grey: #849794;


body{
  margin: 0!important;

  ::-webkit-scrollbar {
    width: 0;
    overflow: hidden;
  }
}


.fab{
  position: fixed;
  top: 20px;
  right: 20px;
  background: #600606;
  padding: 10px;
  z-index: 999;
  border-radius: 10px;
  color: white;
}